@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.App {
  text-align: center;
  padding: 2% 5%;
  background-color: white; 
}


.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #000000;
  cursor: default;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

label[for="number-of-events-input"] {
  color: black; 
}

/* Make the text color black for the event details */
.event h2, .event p {
  color: black; /* Makes the header and paragraph text black */
}

/* Target the button separately to change its text color */
.event button {
  color: #930202; 
  background-color: transparent;
  border: 2px solid #930202; 
  border-radius: 4px; /* Rounded corners for the border */
  padding: 5px 10px; 
  cursor: pointer; 
}


.event button:hover {
  color: white; 
  background-color: #930202; 
  border-color: #680101; /* Darker border color on hover */
}
